{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'lunch/style.css' %}">

<head>
  <title>Lunch Picker</title>
  <script type='text/javascript' src="{% static 'lunch/location.js' %}" async></script>
</head>

<body>
  <div class="center">
    <div id="header">
      <h1 id="title">Lunch Picker</h1>
      <p id="tagline">Lunch Picker temporary tag line or something.</p>
    </div>
  </div>
 
  <form action="{% url 'lunch:places' %}" method="post">
    {% csrf_token %}

    <!--Streamline user experience in getting location, perhaps with status messages or automatically fetching
    location information. Style buttons and dropdown menus.-->
    <div class="center">
      <p id="userLocation">User Location: <button type="button" onclick="getLocation()">Get my location</button></p>
      <p>Latitude: <input type="text" name="lat" id="lat"> Longitude: <input type="text" name="lng" id="lng"></p>
    </div>
    <br>

    <div class="center">
      <select name="price" class="lunchSelect">
        <option selected disabled hidden>Choose price range</option>
        <option><$10</option> 
        <option>$11-$20</option>
        <option>$21-$30</option>
        <option>>$31</option>
        <option>Any</option>
      </select>
      <select name="location" class="lunchSelect">
        <option selected disabled hidden>Choose location range</option>
        <option>within 3 mi.</option>
        <option>3-5 mi.</option>
        <option>5-10 mi.</option>
        <option>>10 mi.</option>
        <option>Any</option>
      </select>
      <select name="rating" class="lunchSelect">
        <option selected disabled hidden>Choose rating range</option>
        <option>4-5 stars</option>
        <option>2-3 stars</option>
        <option>Any</option>
      </select>
      <select name="cuisine" class="lunchSelect">
        <option selected disabled hidden>Choose cuisine type</option>
        <option>American</option>
        <option>Chinese</option>
        <option>Japanese</option>
        <option>Korean</option>
        <option>Any</option>
      </select><br>
    </div>

    <br>

    <div class="center">
      <input id="mainButton" type="submit" value="Find places to eat">
    </div>
  </form>
</body>

