{% load static %}

<head>
  <title>Results</title>
</head>

<body>
  <!--Style this page with restaurant name, picture?, address
      Display query at the top of page
      Dropdown for more information like directions?, review tidbits-->
  {% if error_msg %}
    <p><strong>{{ error_msg }}</strong></p>
  {% else %}
    <p>Price: {{ price }}</p>
    <p>Location: {{ location }}</p>
    <p>Rating: {{ rating }}</p>
    <p>Cuisine: {{ cuisine }}</p>
    <br>
  {% for name in name_list %}
    <p>{{ name }}</p>
  {% endfor %}
  {% endif %}

</body>